<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/f9bbc55cd0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <nav class="navbar">
        <div class="navbar__brand-title">
            <img src="logo2.svg" alt="logo">
        </div>
        <a href="#" class="navbar__togglebutton">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar__links">
            <ul>
                <li>
                    <a href="#" class='heading-secondary'>Home</a>
                </li>
                <li>
                    <a href="#" class='heading-secondary'>Home</a>
                </li>
                <li>
                    <a href="#" class='heading-secondary'>Home</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="landing">
        <h1 class="landing__title heading-main">Managy</h1>
        <div class="landing__container">
            <div class="landing__container__signup">
                <form class="signup">
                    <h1 class='heading-title'>Sign up</h1>
                    <div class="signup__input-container">

                        <input type="email" required placeholder="email"></div>
                    <div class="signup__input-container">

                        <input type="password" required placeholder="password">
                    </div>
                    <div class="signup__input-container">

                        <input type="password" required placeholder="Confirm password">
                    </div>
                    <button>Submit</button>
                </form>
            </div>
            <div class="landing__container__image">
                <img src="example1.png" alt="" srcset="">

                <h2 class="heading-title">Managing Done Right!</h2>
            </div>
        </div>

    </div>
    <footer class='footer'>
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>

        <a href="https://github.com">
            <i class="fab fa-github"></i></a>

        <a href="https://medium.com"><i class="fab fa-medium"></i></a>

        <a href="https://linkedin.com"><i class="fab fa-linkedin"></i>
    </footer>

    <script src="navbar.js"></script>
</body>

</html>