@import url("https://fonts.googleapis.com/css?family=Corben");
@import url("https://fonts.googleapis.com/css?family=Nobile");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
.heading-main {
  font-family: "poppins";
  font-size: 4.5rem;
  font-weight: 800;
}

.heading-title {
  font-family: "poppins";
  font-size: 3.5rem;
  font-weight: 600;
}

.heading-secondary {
  font-family: "Roboto Slab";
  font-size: 1.6rem;
}

.heading-paragraph {
  font-family: "Roboto Slab";
  font-size: 1.6rem;
  font-weight: 300;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

a,
a:visited,
a:target {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.full-screen-div {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  height: 7vh;
}
@media only screen and (max-width: 37.5em) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
.navbar__brand-title {
  padding: 0.5rem 1rem;
}
.navbar__brand-title img {
  height: 4.5rem;
  width: 4.5rem;
  object-fit: contain;
  filter: invert(81%) sepia(5%) saturate(4556%) hue-rotate(118deg) brightness(84%) contrast(79%);
}
.navbar__togglebutton {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem;
}
@media only screen and (max-width: 37.5em) {
  .navbar__togglebutton {
    display: flex;
    top: 2rem;
    right: 2rem;
  }
}
.navbar__togglebutton .bar {
  height: 0.3rem;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
}
.navbar__links {
  width: 50rem;
}
@media only screen and (max-width: 37.5em) {
  .navbar__links {
    display: none;
    width: 100%;
  }
}
.navbar__links ul {
  margin-top: -1rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  z-index: 3;
}
@media only screen and (max-width: 37.5em) {
  .navbar__links ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
.navbar__links ul li:hover {
  background-color: #555;
}
.navbar__links ul li .active-link {
  border-bottom: 0.2rem #4abdac;
}
.navbar__links ul a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  display: block;
  font-size: 2.3rem;
}
@media only screen and (max-width: 37.5em) {
  .navbar__links ul a {
    padding: 1rem;
  }
}

.active {
  display: flex;
}

.footer {
  height: 7vh;
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
}
.footer a {
  color: white;
  font-size: 3.4rem;
}
@media only screen and (max-width: 37.5em) {
  .footer a {
    font-size: 4rem;
  }
}
.footer a:hover {
  color: #4abdac;
}

.signup {
  height: 80%;
  width: 90%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
}
.signup h1 {
  text-align: center;
  letter-spacing: 1px;
  color: #333;
}
.signup__input-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.signup__input-container label {
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  text-align: center;
}
.signup__input-container input {
  font-weight: bold;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background: #f6f7f9;
  color: #748194;
  font-size: 14px;
}
.signup button {
  font-weight: bold;
  margin: 2rem 1rem;
  padding: 1rem 4rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #4abdac;
  color: white;
  font-size: 1.4rem;
}

.message {
  width: 50%;
  padding: 0.7rem 0.7rem;
  background-color: #ffc904;
  border-radius: 2px;
  margin: 0 auto;
}
.message h2 {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.message.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.message.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.loading {
  margin: auto;
  display: block;
  object-fit: cover;
}

.Loading {
  height: 50vh;
  width: 100%;
  object-fit: contain;
}

.employee-table {
  width: 100%;
  border-radius: 0.25em;
  border-collapse: collapse;
}
.employee-table__head th {
  border-bottom: 1px solid #364043;
  color: #e2b842;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 600;
  text-align: left;
  font-family: "Roboto Slab";
}
.employee-table__body td {
  color: #333;
  font-weight: 400;
  padding: 0.5rem 0.6rem;
  font-family: "Roboto Slab";
  font-size: 1.3rem;
}

.landing {
  height: 89vh;
  width: 100%;
  background-color: #4ab1bd;
  padding: 2rem 1rem;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}
@media only screen and (max-width: 37.5em) {
  .landing {
    height: 220vh;
  }
}
.landing__title {
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
.landing__container {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-evenly;
  height: 80%;
}
@media only screen and (max-width: 37.5em) {
  .landing__container {
    flex-flow: column;
  }
}
.landing__container__signup {
  flex: 40%;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing__container__image {
  flex: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
.landing__container__image img {
  object-fit: cover;
  height: 80%;
}
@media only screen and (max-width: 37.5em) {
  .landing__container__image img {
    height: 60%;
  }
}
.landing__container__image h2 {
  color: #fff;
  flex: 20%;
  letter-spacing: 1px;
  font-size: 4.2rem;
  text-align: center;
}

.services {
  height: 50vh;
  background-color: white;
}
@media only screen and (max-width: 37.5em) {
  .services {
    height: 110vh;
  }
}
.services h1 {
  text-align: center;
  color: #333;
  margin-bottom: 1rem;
}
.services__container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  justify-items: center;
  align-items: space-around;
  gap: 0.5rem 0.5rem;
  height: auto;
}
@media only screen and (max-width: 37.5em) {
  .services__container {
    gap: 3rem;
  }
}
.services__card {
  width: 35rem;
  height: auto;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.125);
  padding: 1rem 1rem;
}
.services__card__heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.services__card__heading-wrapper h2 {
  font-size: 4rem;
  margin-left: 1rem;
}
.services__card__heading-wrapper i {
  font-size: 7rem;
  margin-right: 3rem;
  color: rgba(50, 137, 124, 0.8);
}
.services__card p {
  padding: 1rem 1rem;
}

.employee {
  min-height: 86vh;
  width: 100%;
  background-color: rgba(74, 189, 172, 0.9);
  padding: 4rem 0;
}
.employee__container {
  position: relative;
  min-height: 80vh;
  margin-top: 5rem;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  margin: 0 auto;
  width: 90%;
  box-shadow: 0.1rem 0.1rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.1rem 0.1rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
}
.employee__container__title {
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
}
.employee__container__flex-grid {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  align-items: center;
}
.employee__container__flex-grid h2 {
  text-align: center;
  text-transform: capitalize;
}
.employee__container__flex-grid__employee-input {
  margin: 0.7rem 0;
  height: 40%;
  width: 30%;
}
.employee__container__flex-grid__employee-input .signup {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.employee__container__flex-grid__employee-input .signup input {
  margin: 0.2rem 0;
}
.employee__container__flex-grid__employee-list {
  width: 90%;
}

.profile {
  min-height: 86vh;
  width: 100%;
  background-color: rgba(74, 189, 172, 0.9);
  padding: 4rem 4rem;
}
.profile__container {
  position: relative;
  height: 50vh;
  margin-top: 5rem;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 60%;
  box-shadow: 0.1rem 0.1rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.1rem 0.1rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width: 37.5em) {
  .profile__container {
    width: 90%;
  }
}
.profile__container > h1:first-child {
  color: black;
  text-align: center;
  width: 100%;
  font-size: 5rem !important;
  letter-spacing: 0.4rem;
}
.profile__container__input-container {
  height: 4rem;
  width: 60%;
}
.profile__container__input-container label {
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  text-align: center;
}
.profile__container__input-container input {
  font-weight: bold;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background: #f6f7f9;
  color: #748194;
  font-size: 14px;
}
.profile__container button {
  font-weight: bold;
  margin: 0;
  padding: 1rem 4rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #4abdac;
  color: white;
  font-size: 1.4rem;
}

.password {
  height: 86vh;
  width: 100%;
  background-color: #4ab1bd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.password form {
  all: initial;
  width: 50%;
  height: 60%;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
